.card_conatainer {
  display: flex;
  justify-content: center;
}
.sub_card {
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
}
.card {
  margin-top: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  gap: 12px;
  width: 30%;
  overflow: hidden;
  align-items: center;
  height: 15vh;
  background-color: rgb(12, 12, 26);
  border-radius: 6px;
  border: 1px solid transparent;
}
.skill_conatainer{
  height: 152vh;
}
.card:hover {
  animation: movingBorder 10s infinite;
}
@keyframes movingBorder {
  0% {
    border-width: 1px 0 0 0;
    border-color: blue transparent transparent transparent;
  }
  25% {
    border-width: 0 1px 0 0;
    border-color: transparent blue transparent transparent;
  }
  50% {
    border-width: 0 0 1px 0;
    border-color: transparent transparent blue transparent;
  }
  75% {
    border-width: 0 0 0 1px;
    border-color: transparent transparent transparent blue;
  }
  100% {
    border-width: 1px 0 0 0;
    border-color: blue transparent transparent transparent;
  }
}
.javascript_images {
  width: 95%;
  height: 12%;
}
.java_script {
  margin-bottom: 0;
  font-size: 18px;
  color: white;
}
.javascript_difination {
  margin-top: 4px;
  opacity: 0.5;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Skills_heading {
  margin-left: 182px;
  background-color: rgb(12, 12, 41);
  color: white;
}
@media (max-width: 1024px) {

  .skill_conatainer{
    height: 260vh;
  }
  .sub_card {
    width: 90%;
    gap: 20px;
  }
  .card {
    width: 45%;
    height: auto;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }
  .content p {
    font-size: 14px;
  }
  .Skills_heading {
    margin-left: 50px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .sub_card {
    width: 100%;
    gap: 15px;
  }
  .skill_conatainer{
    height: 310vh;
  }
  .card {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .Skills_heading {
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2px;
  }
  .skill_conatainer{
    height: 295vh;
  }
  .content {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .content h1 {
    font-size: 18px;
  }
  .content p {
    font-size: 12px;
  }
  .Skills_heading {
    margin-left: 0;
    font-size: 18px;
    text-align: center;
  }
}
